spring:
  profiles:
    active: local

---
spring:
  file:
    dir: /Users/hayoon/foodsns/src/main/resources/static/post_upload\
  datasource:
    url: jdbc:h2:tcp://localhost/~/food
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    database-platform:
  config:
    activate:
      on-profile: local

  redis:
    host: localhost
    port: 6379

  jwt:
    key: key
    blackList: blackList
    expire_time:
      access: 3600000
      refresh: 1296000000

logging:
  level: #띄어쓰기 없음
    org.hibernate.SQL: debug
#    org.hibernate.type: trace

server:
  port: 8080

---

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/test?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: sa
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    database-platform:
  config:
    activate:
      on-profile: operation

logging:
  level: #띄어쓰기 없음
    org.hibernate.SQL: info
#    org.hibernate.type: trace

server:
  port: 8081
